@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,
input {
  font-family: Montserrat;
  text-align: center;
}

h1 {
  text-align: center;
  color: #5192ca;
}

i {
  font-size: 0.875rem;
}

b,
u {
  color: #5192ca;
}

input,
button,
select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #b1b1b1;
  background: none;
}

select {
  height: 26px;
}

button {
  padding: 10px 20px;
  background: #5192ca;
  color: white;
  border: none;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.8;
  transition: 200ms ease-in-out;
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

.padding-top {
  margin-top: 8px;
}

.light-spacing {
  margin: 2px;
}

#calculate-button {
  margin-top: 10px;
  width: 180px;
}

.display-none {
  display: none;
}

.underline {
  text-decoration: underline;
}

.grayText {
  color: #7e7e7e;
}
