@import url("https://fonts.googleapis.com/css?family=Montserrat");

body,
input,
select {
  font-family: Montserrat;
  text-align: center;
}

h1 {
  text-align: center;
  color: #639dcf;
}

h3 {
  color: #738794;
}
